/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Exo+2|Yatra+One');

/* Defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

/* Body */
body {background: #CDE6F5;}
section {margin-top: 10px;}

/* Header */
.header {width: 100%; height: 100vh;}

/* Side Navigation */
.side-nav{width: 250px; height: 100%; background: #2C423F; position: fixed; top: 0; left: 0; padding: 20px 30px;}
.logo {display: block; margin-bottom: 50px;}
.logo-img {width: 201.25px; height: 50px;}
.nav-links {list-style: none; position: relative;}
.nav-links li {padding: 10px 0;}
.nav-links li a {color: #FFF8F0; text-decoration: none; padding: 10px 14px; display: flex; align-items: center;}
.nav-links li a i {font-size: 22px; margin-right: 20px;}
.active {background: #E4572E; width: 100%; height: 47px; position: absolute; left: 0; top: 2%; z-index: -1; border-radius: 6px; display: none; transition: top 0.5s;}
.nav-links li:hover a {color: #FFF8F0; transition: 0.3s;}
.nav-links li:hover ~ .active {display:block;}
.nav-links li:nth-child(1):hover ~ .active {top:2%;}
.nav-links li:nth-child(2):hover ~ .active {top:14%}
.nav-links li:nth-child(3):hover ~ .active {top:26%}
.nav-links li:nth-child(4):hover ~ .active {top:39%}
.nav-links li:nth-child(5):hover ~ .active {top:51%}
.nav-links li:nth-child(6):hover ~ .active {top:64%}
.nav-links li:nth-child(7):hover ~ .active {top:76%}
.nav-links li:nth-child(8):hover ~ .active {top:89%}
.logo-icon {display: none; width: 45px;}

@media only screen and (max-width: 600px){
  .side-nav{width: 110px;}
  .logo-icon {display:block;}
  .logo-img {display: none;}
  .nav-links li a p {display: none}
  .nav-links li a i {margin-right: 0;}
  .nav-links li a {justify-content: center;}
}

/* Contact */
.contact {border-top: 1px solid #E4572E; padding: 20px 0 20px 0;}
.contact-links {list-style: none; position: relative;}
.contact-links li {display: inline; padding: 5px 8px;}
.contact-links li a {color: #FFF8F0; text-decoration: none; list-style: none; align-items: center;}
.contact-links a:hover {color: #E4572E;}

@media only screen and (max-width: 600px){
  .contact-links li {display: flex; justify-content: center;}
  .contact-links li a i {margin-right: 0;}
  .contact-links li a {justify-content: center;}
}

/* Body */
.MainContent {margin-left: 270px; margin-top: 10px;}
@media only screen and (max-width: 600px){
  .MainContent {margin-left: 130px;}
}

/* Meet The Team */
.container {display: flex; flex-direction: row; justify-content: center; align-items: center; width: 100%; margin: 0 -15px; padding-top: 20px;}
.our-team {flex: 1; margin: 0 10px;}
.our-team {text-align: center; position: relative;}
.our-team .pic {width: 200px; height: 200px; border-radius: 50%; border: 8px solid #2C423F; margin: 0 auto; overflow: hidden;}
.our-team img {width: 100%; height: auto;}
.our-team .email {list-style: none; padding: 0px; margin: 0px; position: absolute; top: 50px; left: 20px; transition: all 0.3s ease-out 0s;}
.our-team .email li a {width: 30px; height: 30px; line-height: 30px; border-radius: 50px; background: #2C423F; font-size: 14px; color: #FFF8F0; text-align: center; margin-bottom: 5px; transform: scale(0); transition: all 0.2s ease 0s;}
.our-team:hover .email li a {transform: scale(1);}
.out-team:hover .email li: a:hover {background: #2C423F;}
.our-team .team-content {padding: 15px 15px 20px; background: #2C423F; border-radius: 40px 10px; margin-top: -20px; color: #FFF8F0;}
.our-team .title {font-size: 20px; font-weight: bold; margin: 10px 0 5px 0;}
.our-team .post {display: block; font-size: 10px; font-weight: 900; text-transform: uppercase;}
.our-team .description {padding: 20px; background: #FFF8F0; border-radius: 20px; font-size: 12px; color: #666; line-height: 30px; margin-bottom: 0; min-height: 200px;}
.our-team
.devider {border-radius: 6px solid #E4572E;}
@media only screen and (max-width: 990px){
  .our-team {margin-bottom: 30px;}
}
@media only screen and (max-width: 359px){
  .our-team .pic {width: 150px; height: 150px;}
  .our-team .email {top: 20px;}
}

/* Tooltips */
.tooltip {position: relative; display: inline-block; border-bottom: 1px dotted back;}
.tooltip .tooltiptext {visibility: hidden; width: 120px; background: #2C423F; color: white; text-align: center; border-radius: 6px; padding: 5px 0; position: absolute; z-index: 1; top: -5px; left: 30px;}
.tooltip:hover .tooltiptext {visibility: visible;}

/* It Technologies */
.technologies h2 {font-size: 15px; line-height: 30px;}
.technologies span {border-bottom: 1.5px solid #E4572E;}

/* Top Image */
.background {position: relative; top: 0; left: 0; width: 100%; height: 250px; filter: brightness(50%);}
.logoimage {position: absolute; top: 60px; left: 40%; transform: translate(-50% 50%); width: 600px;}

/* Team Personality */
.teampersonality h2 {font-size: 15px; line-height: 30px;}
.teampersonality span {border-bottom: 1.5px solid #E4572E;}
.personalityCard {max-width: 150px; margin: auto; text-align: center; display: inline-block; margin-left: 100px; margin-bottom: 25px; align-items: center;}
.teampersonality img {width: 150px; height: 150px;}
.spacing {margin-top: 25px;}


/* Progress Bars */
progress {-webkit-appearence none; appearance: none; -moz-appearance: none; border: none;}
progress {width: 100%; display: block; magin: 2em auto; padding: 3px; border: 0 none; background: black; border-radius: 14px; color: #75B9BE;}
progress.rtl {direction: rtl;}

/*Extraverted/Introverted*/
progress.exin::-moz-progress-bar {background-color: #75B9BE;}
progress.exin::-webkit-progress-bar {background-color: #75B9BE;}

/*Intuitive/Observant*/
progress.intobs::-moz-progress-bar {background-color: #E9D758;}
progress.intobs::-webkit-progress-bar {background-color: #E9D758;}

/*FeelThink*/
progress.feethi::-moz-progress-bar {background-color: #72C09D;}
progress.feethi::-webkit-progress-bar {background-color: #72C09D;}

/*JudgingProspection*/
progress.judpro::-moz-progress-bar {background-color: #DFB2F4;}
progress.judpro::-webkit-progress-bar {background-color: #DFB2F4;}

/*AssertiveTurbulent*/
progress.asstub::-moz-progress-bar {background-color: #F49097;}
progress.asstub::-webkit-progress-bar {background-color: #F49097;}
